.float-container {
    width: 90%;
    margin: auto;
    color: greenyellow;
    border: 3px solid greenyellow;
}
.float-child.tracks {
    float: left;
}
.float-child.artists {
    float: left;
}
.float-child.genres {
    float: left;
}
body {
    background-color: black;
}